outputs/
__pycache__/
*.pyc
instance
venv/
video_storage/
runs/
a.txt
main.py
server_stderr.log
server_stdout.log
setup_firebase_collections.py
tempCodeRunnerFile.py
test_auth.html
test_backend_connection.py
test_email.py
test_firebase.py
test_video_processing.py
test.py
upload_vehicle_evidence.py
upload_zones.py
vehicle_logs.txt
road-eye-ai-f64c5-firebase-adminsdk-fbsvc-95a92b50b8.json
zonedatabase.geojson
zonedatabase-d0432-firebase-adminsdk-fbsvc-3f55e1789f.json
.env