<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>399892066029-6vt2ckji0q4jej3mj2j17hkkh9d8d0vr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.399892066029-6vt2ckji0q4jej3mj2j17hkkh9d8d0vr</string>
	<key>API_KEY</key>
	<string>AIzaSyCVKpAU27bnSgjq0ZF4w9qF14YJzXoqd5U</string>
	<key>GCM_SENDER_ID</key>
	<string>399892066029</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.roadeyeai</string>
	<key>PROJECT_ID</key>
	<string>zonedatabase-d0432-55307</string>
	<key>STORAGE_BUCKET</key>
	<string>zonedatabase-d0432-55307.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:399892066029:ios:ecd856eda29c49bf6266e4</string>
</dict>
</plist>